<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>users</key>
	<array>
		<dict>
			<key>login</key>
			<string>bobbobbob1</string>
			<key>fullName</key>
			<string>Bob</string>
			<key>ID</key>
			<string>3651</string>
		</dict>
		<dict>
			<key>login</key>
			<string>testforme</string>
			<key>fullName</key>
			<string>testName</string>
			<key>ID</key>
			<string>4558</string>
		</dict>
		<dict>
			<key>login</key>
			<string>John</string>
			<key>fullName</key>
			<string>John</string>
			<key>ID</key>
			<string>5932</string>
		</dict>
		<dict>
			<key>login</key>
			<string>webrtc_user4</string>
			<key>fullName</key>
			<string>User 4</string>
			<key>ID</key>
			<string>3897</string>
		</dict>
		<dict>
			<key>login</key>
			<string>webrtc_user5</string>
			<key>fullName</key>
			<string>User 5</string>
			<key>ID</key>
			<string>3898</string>
		</dict>
		<dict>
			<key>login</key>
			<string>webrtc_user6</string>
			<key>fullName</key>
			<string>User 6</string>
			<key>ID</key>
			<string>3899</string>
		</dict>
		<dict>
			<key>login</key>
			<string>webrtc_user7</string>
			<key>fullName</key>
			<string>User 7</string>
			<key>ID</key>
			<string>3900</string>
		</dict>
		<dict>
			<key>login</key>
			<string>webrtc_user8</string>
			<key>fullName</key>
			<string>User 8</string>
			<key>ID</key>
			<string>3901</string>
		</dict>
		<dict>
			<key>login</key>
			<string>webrtc_user9</string>
			<key>fullName</key>
			<string>User 9</string>
			<key>ID</key>
			<string>3902</string>
		</dict>
		<dict>
			<key>login</key>
			<string>webrtc_user10</string>
			<key>fullName</key>
			<string>User 10</string>
			<key>ID</key>
			<string>3903</string>
		</dict>
	</array>
</dict>
</plist>
